<div class="container mt-5">
  <h3 class="text-warning mb-5">Watch list</h3>
@if(watchlist.length > 0){
  <div >
    <div class="row">
      @for(movie of watchlist; track movie.id){
      <div  class="col-md-6 mb-4"> 
        <div class="card movie-card h-100 position-relative d-flex">
          <img 
            class="card-img-left" 
            style="height: auto; width: 150px;" 
            [src]="'https://image.tmdb.org/t/p/w500/' + movie.poster_path" 
            [alt]="movie.title">
          
          <div class="card-body">
            <div class="d-flex justify-content-between">
              <h5 class="card-title">{{ movie.title }}</h5>
              
              <button class="btn btn-link p-0" (click)="toggleWatchlist(movie)">
                <i class="fa-solid fa-heart" 
                   [ngClass]="{'text-warning': isInWatchlist(movie.id), 'text-muted': !isInWatchlist(movie.id)}"></i>
              </button>
            </div>

            <p class="text-muted mb-1">{{ movie.release_date | date:'MMM d, y' }}</p>
            
            <div class="rating mb-2" style="gap: 20px;">
              @for(star of getStars(movie.vote_average); track star){
              <ng-container >
                <i class="fa" [ngClass]="star"></i>
                
              </ng-container>
            }
              <span class="ml-3">{{ movie.vote_count }}</span>
            </div>

            <p class="card-text">{{ movie.overview | slice:0:100 }}...</p>
            <!-- View Details Button -->
            <button class="btn btn-warning mt-2" (click)="goToMovieDetails(movie.id)">View Details</button>
          </div>
        </div>
      </div>
    }
    </div>
  </div>
}  @else{
    <div class="text-center">
      <img src="/assets/images/heart-slash-svgrepo-com.png" style="width: 250px; height: 250px;">
      <p class="mt-3" style="font-size: 30px;">No Movies in Watchlist</p>
      <button class="btn custom-btn mt-3">
        <a href="/" class="header-title">Back to Home</a>
      </button>
    </div>
}
</div>
